Repository bmltek/sasso-webflow-app: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/backend-pipeline.yml, .azure-pipelines/frontend-pipeline.yml

.azure-pipelines/azure-pipelines.yml:
  stages:
  - template: stages/code-analysis.yaml
    parameters:
      acrName: $(ACR_NAME)
  - template: stages/build.yaml
    parameters:
      acrName: $(ACR_NAME)
  - template: stages/security-scan.yaml
    parameters:
      acrName: $(ACR_NAME)
    condition: false
  - template: stages/deploy.yaml
    parameters:
  ...

.azure-pipelines/backend-pipeline.yml:
  extends:
    template: azure-pipelines-template.yml
    parameters:
      serviceName: backend
      serviceDirectory: services
      dockerfilePath: services/Dockerfile
      sonarProjectKey: sasso-backend
      sonarProjectName: Sasso Backend

.azure-pipelines/frontend-pipeline.yml:
  extends:
    template: azure-pipelines-template.yml
    parameters:
      serviceName: frontend
      serviceDirectory: frontend
      dockerfilePath: frontend/Dockerfile
      sonarProjectKey: sasso-frontend
      sonarProjectName: Sasso Frontend

updated
  .azure-pipelines/stages/build.yaml
Due: .azure-pipelines/azure-pipelines.yml

updated
  services/user-management/Dockerfile
  services/user-management/src/index.js
Due: .azure-pipelines/backend-pipeline.yml

updated
  services/user-management/.dockerignore
Due: .azure-pipelines/backend-pipeline.yml

updated user service
  services/user-management/Dockerfile
  services/user-management/package.json
Due: .azure-pipelines/backend-pipeline.yml

add update
  .azure-pipelines/azure-pipelines.yaml
Due: .azure-pipelines/azure-pipelines.yml

add update
  .azure-pipelines/stages/deploy.yaml
Due: .azure-pipelines/azure-pipelines.yml

add update
  kubernetes/config.yaml
Due: none

add update
  kubernetes/hpa.yaml
Due: none

add update
  kubernetes/backend-deployment.yaml
  kubernetes/ingress.yaml
  kubernetes/metrics-deployment.yaml
  kubernetes/services.yaml
Due: none

add update
  kubernetes/frontend-deployment.yaml
  kubernetes/metrics-service.yaml
  kubernetes/user-deployment.yaml
Due: none

update
  kubernetes/frontend-deployment.yaml
Due: none

working update
  .azure-pipelines/azure-pipelines.yaml
  frontend/nginx.conf
  frontend/src/pages/Contact.tsx
  frontend/src/pages/Features.tsx
  frontend/src/pages/Pricing.tsx
  frontend/src/pages/SignIn.tsx
  frontend/src/pages/Testimonials.tsx
  frontend/src/services/authService.ts
  frontend/vite.config.ts
  kubernetes/frontend-deployment.yaml
  kubernetes/metrics-deployment.yaml
  kubernetes/services.yaml
  kubernetes/user-deployment.yaml
  services/metrics/package.json
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/backend-pipeline.yml, .azure-pipelines/frontend-pipeline.yml

working update
  .azure-pipelines/azure-pipelines.yaml
Due: .azure-pipelines/azure-pipelines.yml

update
  DOC/README.md
  DOC/architecture.md
  DOC/deployment.md
  DOC/development.md
  DOC/interview_response.md
  DOC/operations.md
  DOC/security.md
  services/metrics/Dockerfile
  services/notification/Dockerfile
  services/user-management/Dockerfile
  src/services/__mocks__/supabase.ts
  src/services/__tests__/supabase.test.ts
Due: .azure-pipelines/backend-pipeline.yml

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: sasso-webflow-app, .azure-pipelines
  .azure-pipelines/backend-pipeline.yml: any of: services, kubernetes/backend.yaml
  .azure-pipelines/frontend-pipeline.yml: any of: frontend, kubernetes/frontend.yaml
