Repository bmltek/sasso-webflow-app: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/backend-pipeline.yml, .azure-pipelines/frontend-pipeline.yml

.azure-pipelines/azure-pipelines.yml:
  stages:
  - stage: CodeAnalysis
    displayName: Code Analysis
    jobs:
    - job: SonarAnalysis
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: SonarQubePrepare@5
        inputs:
          SonarQube: SonarQube
          scannerMode: CLI
          configMode: manual
  ...

.azure-pipelines/backend-pipeline.yml:
  extends:
    template: azure-pipelines-template.yml
    parameters:
      serviceName: backend
      serviceDirectory: services
      dockerfilePath: services/Dockerfile
      sonarProjectKey: sasso-backend
      sonarProjectName: Sasso Backend

.azure-pipelines/frontend-pipeline.yml:
  extends:
    template: azure-pipelines-template.yml
    parameters:
      serviceName: frontend
      serviceDirectory: frontend
      dockerfilePath: frontend/Dockerfile
      sonarProjectKey: sasso-frontend
      sonarProjectName: Sasso Frontend

debug dockerfile
  .azure-pipelines/stages/code-analysis.yaml
  frontend/Dockerfile
  services/analytics/Dockerfile
  services/metrics/Dockerfile
  services/user/Dockerfile
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/backend-pipeline.yml, .azure-pipelines/frontend-pipeline.yml

debug dockerfile
  frontend/Dockerfile
  frontend/src/pages/Contact.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Features.tsx
  frontend/src/pages/Pricing.tsx
  frontend/src/pages/SignIn.tsx
  frontend/src/pages/Testimonials.tsx
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  services/analytics/.dockerignore
  services/analytics/Dockerfile
  services/metrics/.dockerignore
  services/metrics/Dockerfile
  services/user/.dockerignore
  services/user/Dockerfile
  services/user/package-lock.json
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/backend-pipeline.yml, .azure-pipelines/frontend-pipeline.yml

debug
  .azure-pipelines/stages/build.yaml
  .azure-pipelines/stages/security-scan.yaml
Due: none

debug
  .azure-pipelines/stages/build.yaml
Due: none

debug trivy
  .azure-pipelines/stages/security-scan.yaml
Due: none

debug trivy
  .azure-pipelines/stages/code-analysis.yaml
Due: none

remove docker image scan
  .azure-pipelines/stages/code-analysis.yaml
Due: none

debug
  .azure-pipelines/stages/security-scan.yaml
Due: none

add scanning depending on image build and push
  .azure-pipelines/stages/security-scan.yaml
Due: none

add scanning depending on image build and push
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/stages/security-scan.yaml
Due: none

remove security scan
  .azure-pipelines/azure-pipelines.yml
Due: none

updated
  .azure-pipelines/azure-pipelines.yaml
  .azure-pipelines/azure-pipelines.yml
Due: none

updated
  .azure-pipelines/azure-pipelines.yaml
Due: none

updated
  .azure-pipelines/stages/build.yaml
Due: none

updated
  services/analytics/Dockerfile
  services/metrics/Dockerfile
  services/user/Dockerfile
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/backend-pipeline.yml

updated
  services/authentication/Dockerfile
  services/notification/Dockerfile
  services/user-management/Dockerfile
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/backend-pipeline.yml

updated
  frontend/Dockerfile
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/frontend-pipeline.yml

updated
  services/user-management/Dockerfile
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/backend-pipeline.yml

updated
  services/user/Dockerfile
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/backend-pipeline.yml

updated
  services/metrics/Dockerfile
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/backend-pipeline.yml

updated
  .azure-pipelines/stages/build.yaml
  services/metrics/Dockerfile
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/backend-pipeline.yml

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: frontend, services, helm
  .azure-pipelines/backend-pipeline.yml: any of: services, kubernetes/backend.yaml
  .azure-pipelines/frontend-pipeline.yml: any of: frontend, kubernetes/frontend.yaml
